.main{
    background-color: antiquewhite;
    display:grid;
    grid:1fr/1fr 4fr;
    height:100vh;
    width:100vw;
    column-gap: 7px;;
}
.right{
    display:grid;
    grid-template-rows: 2fr 7fr 1fr;
    row-gap:5px;
}
.top{
    background-color: red;
}
.middle{
    background-color: aqua;
}
.bottom{
    background-color: bisque;

}
.left{
    background-color: black;
}
